TG_API_ID=12345
TG_API_HASH=your_api_hash_here
TG_PHONE=+5511999999999
DEALSCOUT_SESSION=dealscout_session
DEALSCOUT_CONFIG=channels.json
DEALSCOUT_ARCHIVE_CSV=message_archive.csv
DEALSCOUT_ENABLE_WEBHOOK=false
DEALSCOUT_VERBOSE_STARTUP=false
DEALSCOUT_ENABLE_URL_RESOLUTION=true
DEALSCOUT_URL_RESOLVE_TIMEOUT_SECONDS=5
DEALSCOUT_URL_RESOLVE_MAX_HOPS=5
DEALSCOUT_URL_RESOLVE_RETRY_ATTEMPTS=2
DEALSCOUT_ENABLE_AFFILIATE=false
DEALSCOUT_AFFILIATE_API_URL=
DEALSCOUT_AFFILIATE_API_TOKEN=
DEALSCOUT_AFFILIATE_TIMEOUT_SECONDS=5
DEALSCOUT_AFFILIATE_RETRY_ATTEMPTS=2
