TG_API_ID=12345
TG_API_HASH=your_api_hash_here
TG_PHONE=+5511999999999
DEALSCOUT_SESSION=dealscout_session
DEALSCOUT_CONFIG=channels.json
DEALSCOUT_ARCHIVE_CSV=message_archive.csv
DEALSCOUT_ENABLE_WEBHOOK=false
DEALSCOUT_VERBOSE_STARTUP=false
